<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeartMonitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>086B9CCD1E4679BF007B57A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>086B9CDC1E4679C0007B57A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>086B9CE71E4679C0007B57A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
